# Pràctica 1. Variables
## 1. Sintaxi
### 1.1. Defició de variables i primeres instruccions

In [2]:
r=3

In [3]:
r

3

In [4]:
pi=3.14159; e=2.71828

In [5]:
pi; e

2.71828

In [6]:
print(pi)
print(e)

3.14159
2.71828

In [7]:
l=2*pi*r
print("La longuitud és", l)

La longuitud és 18.849539999999998

In [10]:
a=pi*r**2
print("L'àrea és", a)

L'àrea és 28.27431

Fixat en que en SageMath per a la potenciació s'utiliza el sombreret (^) però en Python s'utilitza el doble producte (**)

In [ ]:
s="Hola món"

In [16]:
s

'Hola món'

In [17]:
print(s)

Hola món

In [18]:
t=s+s
print(t)

Hola mónHola món

In [19]:
u=r*s
print(u)

Hola mónHola mónHola món

In [20]:
u=pi*s

TypeError: can't multiply sequence by non-int of type 'float'

In [21]:
a,b,c=2.71828,"Hola",3

In [23]:
print("a=",a)
print("b=",b)
print("c=",c)

a= 2.71828
b= Hola
c= 3

In [25]:
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'str'>
<class 'int'>

### 1.2 Llistes

In [1]:
l1=[1,2,3,4,5]

In [2]:
print(l1)

[1, 2, 3, 4, 5]

In [5]:
print(l1[0])

1

In [6]:
print(l1[3])

4

In [7]:
print(l1[2:4])

[3, 4]

In [8]:
l1[2]=99

In [9]:
print(l1)

[1, 2, 99, 4, 5]

### 1.3 Tuples

In [1]:
tup1=(1,2,3,4,5)
tup2=(100,)

In [10]:
len(tup2)

1

In [12]:
print(tup2)

(100,)

In [13]:
print(tup1[2:4])

(3, 4)

### 1.4 Conjunts

In [14]:
con1={3,2,4,6,1,2}
print(con1)

{1, 2, 3, 4, 6}

### 1.5 Diccionari

In [18]:
mesos={'Gener':'January', 'Febrer':'February', 'Març':'March',
      'Abril':'April', 'Maig':'May', 'Juny':'June', 'Juliol':'July',
      'Agost':'August', 'Setembre':'Septembre', 'Octubre':'October', 
      'Novembre':'November', 'Desembre':'December'}

In [16]:
type(mesos)

dict

In [19]:
print(mesos['Juny'])

June

In [20]:
del mesos['Març'] #Esborrem l'entrada Març del diccionari

In [21]:
print(mesos)

{'Gener': 'January', 'Febrer': 'February', 'Abril': 'April', 'Maig': 'May', 'Juny': 'June', 'Juliol': 'July', 'Agost': 'August', 'Setembre': 'Septembre', 'Octubre': 'October', 'Novembre': 'November', 'Desembre': 'December'}

In [22]:
dades={'Comarca':['Bages','Barcelonès', 'Vallès Occidental', 
                  'Vallès Oriental'],
      2013:[184182,2217065,894638,400982],
      2014:[182795,2197818,893038,400426],
      2015:[171193,2195271,895166,397396],
      2016:[173143,2205803,900516,399036],
      2017:[173724,2226828,908026,401820],
      2018:[174703,2239915,915486,405236],
      2019:[176891,2264301,923976,408672]}

In [23]:
dades['Comarca']

['Bages', 'Barcelonès', 'Vallès Occidental', 'Vallès Oriental']

In [24]:
dades[2014]

[182795, 2197818, 893038, 400426]

In [25]:
dades.get('Comarca')

['Bages', 'Barcelonès', 'Vallès Occidental', 'Vallès Oriental']

In [26]:
dades.values()

dict_values([['Bages', 'Barcelonès', 'Vallès Occidental', 'Vallès Oriental'], [184182, 2217065, 894638, 400982], [182795, 2197818, 893038, 400426], [171193, 2195271, 895166, 397396], [173143, 2205803, 900516, 399036], [173724, 2226828, 908026, 401820], [174703, 2239915, 915486, 405236], [176891, 2264301, 923976, 408672]])

In [27]:
dades.items()

dict_items([('Comarca', ['Bages', 'Barcelonès', 'Vallès Occidental', 'Vallès Oriental']), (2013, [184182, 2217065, 894638, 400982]), (2014, [182795, 2197818, 893038, 400426]), (2015, [171193, 2195271, 895166, 397396]), (2016, [173143, 2205803, 900516, 399036]), (2017, [173724, 2226828, 908026, 401820]), (2018, [174703, 2239915, 915486, 405236]), (2019, [176891, 2264301, 923976, 408672])])

In [29]:
print(dades)

{'Comarca': ['Bages', 'Barcelonès', 'Vallès Occidental', 'Vallès Oriental'], 2013: [184182, 2217065, 894638, 400982], 2014: [182795, 2197818, 893038, 400426], 2015: [171193, 2195271, 895166, 397396], 2016: [173143, 2205803, 900516, 399036], 2017: [173724, 2226828, 908026, 401820], 2018: [174703, 2239915, 915486, 405236], 2019: [176891, 2264301, 923976, 408672]}

### 1.6 Manipulacions de llistes

In [30]:
l=[10,2,30,4,50]

In [31]:
print(l)

[10, 2, 30, 4, 50]

In [40]:
ll=l # en el fons són les mateixes llistes (copia d'una llista però amb característiques especials)

In [41]:
print(ll)

[10, 99, 30, 4, 50]

In [42]:
ll[1]=99 # modifiquem la segona posició de l1

In [43]:
print(ll)

[10, 99, 30, 4, 50]

In [44]:
print(l) # CUIDADO: també s'ha modificat l!!!

[10, 99, 30, 4, 50]

In [45]:
lll=l.copy() # es fa una còpia dels valors d'una llista en una altra llista

In [46]:
print(lll)

[10, 99, 30, 4, 50]

In [47]:
print(l)

[10, 99, 30, 4, 50]

In [48]:
l.sort() #Ordena la llista l amb el mateix nom (en aquest cas, també afecta a ll)

In [56]:
ll

[4, 10, 30, 50, 99]

In [57]:
l.reverse() # Canvia l'ordre dels element, de l'últim al primer de la llista

In [58]:
l

[99, 50, 30, 10, 4]

In [59]:
a=l.pop() #Esborra l'últim element i el guarda a la variable a

In [60]:
print(l)

[99, 50, 30, 10]

In [61]:
print(a)

4

In [62]:
l.append(99) # afegim un 99 com a últim element

In [63]:
print(l)

[99, 50, 30, 10, 99]

In [64]:
ls=["hola", "món"]

In [66]:
l+ls # és una manera de contatener cadenes

[99, 50, 30, 10, 99, 'hola', 'món']

In [67]:
ls.insert(1, 'a tot el') #inserta la cadena abans de la posició 1

In [68]:
print(ls)

['hola', 'a tot el', 'món']

In [69]:
del l # esborra la llista l

In [70]:
print(l)

NameError: name 'l' is not defined

In [71]:
print(ll)

[99, 50, 30, 10, 99]

In [73]:
ll.clear() # Buida la llista, el deixa amb zero elements

In [74]:
print(ll)

[]

### 1.7 Manipulació de conjunts

In [75]:
p={4,6,2,8,10,2}

In [83]:
s={1,3,5,7,3,11,9}

In [80]:
print(p)

{2, 4, 6, 8, 10}

Fixat que al imprimir el conjunt, el posa en ordre

In [84]:
p&s #Retorna els elements de l'intersecció

set()

Set() vol dir que no hi ha cap element en l'intersecció, conjunt buit

In [85]:
p|s # Retorna el elements que són a p o s (unió)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [87]:
p = p|{12} # Aprofitem la prop. de l'unió per afegir un element

In [88]:
print(p)

{2, 4, 6, 8, 10, 12}

In [89]:
n={1,2,3,4,5,6}

In [90]:
p-n # Torna els elements de p que no són a n

{8, 10, 12}

En teoria de conjunts, voldria dir que si P,N són dos conjunts, aleshores, p-n <=> P\N = P & N^c